.formContainer {
    margin: 3rem auto 0 auto;
    text-align: center;
    max-width: 25rem;

    img {
        height: 5rem;
    }

    .form {
        margin-top: 1rem;
    }
    .textField {
        margin: 10px auto;
    }
    .button {
        margin-top: 20px;
        position: relative;
    }
    .customError {
        margin-top: 10px;
        color: red;
        font-size: .8rem;
    }
    .progress {
        position: absolute;
    }
    .button {
        display: block;
        width: 100%;
    }
}