.moods-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.mood-container {
    display: flex;
    align-items: center;

    &__icon {
        height: 5rem;
    }
}

.homepage-header {
    height: 20%;
}

.homepage-footer {
    height: 10%;
}

.display-mood {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50%;

    &__icon {
        height:15rem;
    }
}