.mood-container {
    display: flex;
    align-items: center;

    &__icon {
        height: 5rem;
    }
}

.moods-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
