.moods-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.mood-container {
    display: flex;
    align-items: center;

    &__icon {
        height: 5rem;
    }
}