@import './colors.scss';
@import './moods.scss';
@import './forms.scss';
@import './stats.scss';
@import './homepage.scss';

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin:0;
    padding: 0;
}

.container {
    margin: 60px auto 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    height: calc(100vh - 116px);
}

.navbar {
    box-shadow: 0 -1px 6px rgba(0,0,0,.15);
    top: auto!important;
    bottom: 0;
    align-items: center;
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.monthPicker {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.mui-container {
    height: 100%;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 3rem rgba(0,0,0,.175);
    padding: 4px 10px 10px 10px;
}