.moods{
    &--Angry {
        //FF595E
        filter: invert(48%) sepia(8%) saturate(6907%) hue-rotate(318deg) brightness(104%) contrast(105%);
    }
    &--Neutral {
        //8AC926
        filter: invert(61%) sepia(75%) saturate(443%) hue-rotate(41deg) brightness(101%) contrast(89%);
    }
    &--Happy {
        //FFCA3A
        filter: invert(82%) sepia(80%) saturate(1147%) hue-rotate(323deg) brightness(100%) contrast(104%);
    }
    &--Sad {
        //1982C4
        filter: invert(35%) sepia(90%) saturate(887%) hue-rotate(172deg) brightness(98%) contrast(86%);
    }
    &--Fear {
        //6A4C93
        filter: invert(36%) sepia(22%) saturate(1247%) hue-rotate(223deg) brightness(88%) contrast(92%);
    }
}