.statspage {
padding-top: 30px;;

    &--values {
        text-align: center;

        .card:first-child {
            margin-top: 2rem;
        }
    }
}

.feelings-list {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

    &__element {
        display: flex;
        flex-direction: column;
    }
}

.calendar-mood {
    height: 2.5rem;
}

.list-mood {
    height: 4rem;
}

.calendar {
    width: 100%;
    margin-top: 1rem;
}